<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="topnav">
      <img
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/2/29/Lake_Forest_Academy%27s_Logo.png"
        style="width: 50px; height: 50px"
      />
      <a href="/">Home</a>
      <a href="/view/mostReviewed?sort=mostReviewed">Browse</a>
      <a href="/review">Review</a>
    </div>
    <div>
      <h1>Welcome</h1>
      <form method="GET" action="/adjResults" id="sendAdj">
        <input type="search" id="adjectiveSearch" name="a" placeholder="Enter adjectives...">
      </form>
  </body>
</html>
