<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="topnav">
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Lake_Forest_Academy%27s_Logo.png"
      style="width: 50px; height: 50px" />
    <a href="/">Home</a>
    <a href="/view/mostReviewed?sort=mostReviewed">Browse</a>
    <a href="/review">Review</a>
  </div>
  <h1>Submit a Review</h1>

  <form id="reviewForm" autocomplete="off" action="/submit" method="POST">
    <h3>Select a Teacher</h3>
    <div class="autocomplete" style="width: 600px">
      <input id="tInput" type="text" name="teacher" placeholder="Search Teachers..." />
    </div>
    <h3>Select a Course</h3>
    <div class="autocomplete" style="width: 600px">
      <input id="cInput" type="text" name="class" placeholder="Search Courses..." />
    </div>
    <div class="categories">
      <div>
        <h4 class="heading">Workload</h4>
        <div class="rateWorkload">
          <input type="radio" id="star1" name="rateWork" value="1" />
          <label for="star1" title="text">1</label>
          <input type="radio" id="star2" name="rateWork" value="2" />
          <label for="star2" title="text">2</label>
          <input type="radio" id="star3" name="rateWork" value="3" />
          <label for="star3" title="text">3</label>
          <input type="radio" id="star4" name="rateWork" value="4" />
          <label for="star4" title="text">4</label>
          <input type="radio" id="star5" name="rateWork" value="5" />
          <label for="star5" title="text">5</label>
        </div>
      </div>
      <div>
        <h4 class="heading">Difficulty</h4>
        <div class="rateDifficulty">
          <input type="radio" id="star1" name="rateDiff" value="1" />
          <label for="star1" title="text">1</label>
          <input type="radio" id="star2" name="rateDiff" value="2" />
          <label for="star2" title="text">2</label>
          <input type="radio" id="star3" name="rateDiff" value="3" />
          <label for="star3" title="text">3</label>
          <input type="radio" id="star4" name="rateDiff" value="4" />
          <label for="star4" title="text">4</label>
          <input type="radio" id="star5" name="rateDiff" value="5" />
          <label for="star5" title="text">5</label>
        </div>
      </div>
    </div>
    <div>
      <textarea id="reviewText" name="text" rows="10" cols="50" placeholder="Write a review"></textarea>
    </div>
    <button type="button" onclick="check()">Submit</button>
  </form>
  <script>
    var c = '<%- JSON.stringify(classes) %>'
    var t = '<%- JSON.stringify(Object.keys(teachers)) %>'
    function check() {
      let v = document.getElementById("tInput").value;
      let w = document.getElementById("cInput").value;
      let wv = document.getElementsByName("rateWork");
      let dv = document.getElementsByName("rateDiff");
      let checkedW = false;
      let checkedD = false;
      for (let i = 0; i < wv.length; i++) {
        if (wv[i].checked) {
          checkedW = true;
        }
        if (dv[i].checked) {
          checkedD = true;
        }
      }
      if (t.indexOf(v) == -1 || c.indexOf(w) == -1 || !checkedW || !checkedD || document.getElementById("reviewText").value == "") {
        alert("Please fill out the whole form, and select a valid class anad teacher");
      } else {
        document.getElementById("reviewForm").submit();
        //console.log("submitted");
      }
    }
    function autocomplete(inp, arr) {
      var currentFocus;
      inp.addEventListener("input", function (e) {
        var a, b, i, val = this.value;
        closeAllLists();
        if (!val) { return false; }
        currentFocus = -1;
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(a);
        for (i = 0; i < arr.length; i++) {
          if (arr[i].toUpperCase().includes(val.toUpperCase())) {
            b = document.createElement("DIV");
            b.innerHTML = arr[i].substr(0, val.length);
            b.innerHTML += arr[i].substr(val.length);
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            b.addEventListener("click", function (e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
            });
            a.appendChild(b);
          }
        }
      });
      inp.addEventListener("keydown", function (e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          currentFocus++;
          addActive(x);
        } else if (e.keyCode == 38) { //up
          currentFocus--;
          addActive(x);
        } else if (e.keyCode == 13) {
          e.preventDefault();
          if (currentFocus > -1) {
            if (x) x[currentFocus].click();
          }
        }
      });
      function addActive(x) {
        if (!x) return false;
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      document.addEventListener("click", function (e) {
        closeAllLists(e.target);
      });
    }
    autocomplete(document.getElementById("cInput"), JSON.parse(c));
    autocomplete(document.getElementById("tInput"), JSON.parse(t))
  </script>
</body>

</html>